body {
  font-family: "Kaushan Script", cursive;
  background-color: white;
  color: black;
}
/* NAVBAR  STYLES */
.navbar-toggler {
  outline: none !important;
}
.nav-link,
.navbar-brand {
  color: var(--pink1);
  font-size: 1.5rem;
  transition: all 1s ease-in-out;
}
.nav-link:hover,
.navbar-brand:hover {
  color: black;
}
/*CART BUTTON STYLES*/
.cart-info {
  border: 0.1rem solid black;
  border-radius: 0.25 rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
}
.cart-info:hover {
  background-color: var(--pink1);
  border-color: var(--pink1);
  color: white;
}
.max-height {
  min-height: calc(100vh - 76px);
  background: linear-gradient(var(--yellowop1), var(--yellowop1)),
    url(../img/headerBcg.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* BANNER STYLES */
.banner {
  margin-top: -4rem;
}
.big-font {
  font-size: 3.5rem;
}
.banner-link {
  font-size: 1.5rem;
  color: black;
  border: 0.2rem solid;
}
.banner-link:hover {
  color: var(--pink1);
}
/* ABOUT STYLES */
.about-image {
  position: relative;
}
.about-image::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: -1.7rem;
  width: 100%;
  height: 100%;
  outline: 0.5rem solid var(--biscuit);
  z-index: -1;
  transition: all 1s linear;
}
.about-image:hover:before {
  top: 0;
  left: 0;
}
.black-btn:hover {
  color: var(--pink1);
}
/* .box-shadow {
  transition: all 0.3 linear;
} */
/* STORE STYLES */
.box-shadow:hover {
  box-shadow: 0 10px 15px rgb(0, 0, 0);
}
.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.store-img {
  transition: all 1s ease-in-out;
}
.img-container:hover .store-img {
  transform: scale(1.2);
}
.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}
.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}
.store-item-icon:hover {
  color: white;
}
/* SERVICES STYLES */
#services {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(../img/servicesBcg.jpeg) center/cover fixed no-repeat;
}
/* FOOTER STYLES */
.ftr-icon {
  color: white;
  transition: all 0.4s ease-in-out;
}
.ftr-icon:hover {
  color: var(--pink1);
}
/* CART STYLES */
.cart {
  position: absolute;
  min-height: 10rem;
  background-color: rgba(255, 255, 255, 0.548);
  top: 76px;
  right: 0;
  transition: all 0.3s ease-in-out;
  width: 0;
  overflow: hidden !important;
}
.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}
.cart-item {
  transition: all 2s ease-in-out;
}
#cart-item-remove {
  color: var(--pink1);
  transition: all 0.5s ease-in-out;
}
#cart-item-remove:hover {
  transform: scale(1.1);
  color: black;
}
.black-hover:hover {
  color: var(--pink1);
}
/* These codes are for navbar 
.nav-link {
  font-size: 14px;
  text-transform: uppercase;
}
 .navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background-color: #ffffff;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

.nav-item.active {
  border-left: #444 3px solid;
} */

/* These codes are for carousel 
.carousel-item {
  height: 450px;
}
.carousel-image-1 {
  background: url(../img/image1.jpg);
  background-size: cover;
}

.carousel-image-2 {
  background: url(../img/image2.jpg);
  background-size: cover;
}

.carousel-image-3 {
  background: url(../img/image3.jpg);
  background-size: cover;
} */

/* These codes are for OVERLAY
.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
} */
/* These codes for video
#video-play {
  position: relative;
  min-height: 200px;
  background: url(../img/media.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: white;
}
#video-play a {
  color: white;
} */

/* These codes are from book theme project-2
 .navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background-color: #ffffff;
}
.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 1.4rem;
}

#showcase {
  position: relative;
  background-image: url("../img/mountains.jpg");
  min-height: 600px;
}
#showcase .primary-overlay {
  background-color: rgba(50, 147, 166, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid;
}

#authors img {
  margin-top: -50px;
}
#authors .card:hover {
  background-color: #3292a6;
  color: white;
}
#authors .fab {
  color: #ffffff;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }
  #showcase h1 {
    font-size: 4rem;
  }
} */
